
<h2 mat-dialog-title *ngIf=component> Mehr Information </h2>
<h2 mat-dialog-title *ngIf=bestueckung> Aktueller Bestückungsvorgang </h2>
<h2 mat-dialog-title *ngIf=reparatur> Aktueller Raparaturvorgang </h2>
<h2 mat-dialogue-title *ngIf=choose> Modell auswählen </h2>
<h2 mat-dialogue-title *ngIf=form> Platinen-Nummer eingeben </h2>
<h2 *ngIf=noForms> Es wurden keine Formulare gefunden </h2>
<p *ngIf=choose> bitte warten, bis PDF und Tabelle im Hintergrund vollständig geladen sind </p>

<div *ngIf="reparatur||bestueckung||component">
  <mat-dialog-content [style.height.px]="'250'">
	  <ul *ngFor="let line of comp">
		  <li><h3> {{line}} </h3>
		  </li>
	  </ul>
  </mat-dialog-content>
</div>

<div *ngIf=choose>
  <mat-dialog-content [style.height.px]="'250'">
    <mat-table [dataSource]=formulare>
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Art">
          <mat-header-cell *matHeaderCellDef> Art </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.parentForm}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Time">
          <mat-header-cell *matHeaderCellDef> Zeit </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.time}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Platine">
          <mat-header-cell *matHeaderCellDef> Platinen-Nummer </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.platinenNr}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="display; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: display;"
        (click)="close(row['id'])"
        [style.height.vh]="5"
        [style.overflow]="'hidden'"></mat-row>
    </mat-table>
  </mat-dialog-content>
</div>

<div *ngIf="form">
  <mat-dialog-content [style.height.px]="'250'">
    <form #form="ngForm">
      <mat-form-field [style.width.px]="400">
        <input matInput placeholder="Platinen-Nummer" [(ngModel)]="platine" name="Platinennummer" required>
        <mat-error *ngIf="platine === ''"> Platinen-Nummer benötigt </mat-error>
      </mat-form-field>
      <button mat-raised-button
              (click)="close(platine)"
              [disabled]="platine===''"> OK </button>
      <button mat-raised-button
              (click)="close('all')"> zeige alle </button>
    </form>
  </mat-dialog-content>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">Close</button>
</mat-dialog-actions>

