<h3 *ngIf="!showPDF">
		Missing Information: Artikelnummer
</h3>

<div *ngIf="showPDF">

  <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" class="margin">
      <mat-icon> more_vert </mat-icon>
  </button>

  <mat-menu #menu="matMenu" >
    <button mat-menu-item (click)="moreInfo()" [style.color]="'white'" [style.background-color]="'#607D8B'">
        <span> Information </span>
    </button>
    <button mat-menu-item
      (click)="chooseForm()"
      [style.background-color]="'#455A64'"
      [style.color]="'white'"
      [disabled]="loginstatus==='anonym'||loginstatus===''">
      lade Formular
    </button>
    <button mat-menu-item [style.background-color]="'#607D8B'" [style.color]="'white'" (click)="showAttach('Wiki')">
      <span> Wiki </span>
    </button>
    <button mat-menu-item [style.background-color]="'#455A64'" [style.color]="'white'" (click)="showAttach('PDF')">
      <span> ursprüngliches PDF </span>
    </button>
  </mat-menu>

  <mat-checkbox color="primary" class="margin" [checked]="selectMultiple" [style.font-size]="'medium'" (change)="changeMultiple()"> Mehrfachselektion </mat-checkbox>
	<button mat-raised-button (click)="clearAll()" [style.background-color]="'ForestGreen'" [style.color]="'white'" class="margin"> löschen </button>
	<!-- <mat-checkbox [checked]="checkSMD" (change)="changeSMD()" color="primary" class="margin"> show SMD </mat-checkbox>
	<mat-checkbox [checked]="checkTHT" (change)="changeTHT()" color="primary" class="margin"> show THT </mat-checkbox> -->

	<span [style.margin]="'15px'"></span>
	<button mat-raised-button (click)="small()" color="accent" class="margin" [disabled]="smallDis"> - </button>
	<button mat-raised-button (click)="big()" color ="accent" class="margin" [disabled]="bigDis"> + </button>

	<span [style.margin]="'15px'"></span>
	<button mat-raised-button (click)="prev(true)" color="primary" class ="margin" [disabled]="showTop"> Top </button>
  <button mat-raised-button (click)="next(true)" color="primary" class ="margin" [disabled]="showBot"> Bottom </button>

  <span [style.margin]="'15px'"></span>
  <mat-checkbox [checked]="showInfo" [style.font-size]="'medium'" (change)="showInfo=!showInfo"> Infofenster </mat-checkbox>




  <button mat-raised-button
          (click)="enter()"
          color="primary"
          [disabled]=reparatur
          class="margin rightButton">
        weiter
  </button>
  <button mat-raised-button
          (click)="back()"
          color="primary"
          [disabled]=reparatur
          class="margin rightButton">
        zurück
  </button>

	<mat-divider [style.margin.px]="'5'"></mat-divider>

<!-- 	<mat-card *ngIf="showBoth" [style.width.px]="'150'" [style.height.vh]="'80'" [style.overflow]="'auto'" class="column middle">
		<mat-list *ngFor="let item of outline" [style.float]="'left'">
			<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card *ngIf="showSMD" [style.width.px]="'150'" [style.height.vh]="'80'" [style.overflow]="'auto'" class="column middle">
		<mat-list *ngFor="let item of smdOutline" [style.float]="'left'">
			<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
		</mat-list>
	</mat-card>
	<mat-card *ngIf="showTHT" [style.width.px]="'150'" [style.height.vh]="'80'" [style.overflow]="'auto'" class="column middle">
		<mat-list *ngFor="let item of thtOutline" [style.float]="'left'">
			<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
		</mat-list>
	</mat-card> -->

	<mat-card class="column middle">
		<mat-table [dataSource]="filterDataSource()" matSort (matSortChange)="sortData($event)" class="upper">
			<ng-container matColumnDef="position">
  				<div *matHeaderCellDef class="header" mat-sort-header> # </div>
  				<div *matCellDef="let item" class="firstColumn"> {{item.pos}} </div>
			</ng-container>
			<ng-container matColumnDef="designator">
  				<mat-header-cell *matHeaderCellDef class="header"> Des. </mat-header-cell>
  				<mat-cell *matCellDef="let item" (click)="navigateTo(item.des)"> {{item.des}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="artikelnummer">
  				<mat-header-cell *matHeaderCellDef class="header" mat-sort-header> Art.Nr. </mat-header-cell>
  				<mat-cell *matCellDef="let item"> {{item.art}} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="matchcode">
  				<mat-header-cell *matHeaderCellDef class="header"> Matchcode </mat-header-cell>
  				<div *matCellDef="let item" class="matchcode"> {{item.match}} </div>>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columnsToDisplay; sticky:true" class="header"></mat-header-row>
			<mat-row *matRowDef="let row; columns: columnsToDisplay"
					(click)="rowClicked(row['pos'], row['des'])"
					[style.background]="backgroundCalc(row)"
					[style.height.vh]="5"
          [style.overflow]="'hidden'">
      </mat-row>
		</mat-table>

    <mat-divider [style.margin.px]="5"></mat-divider>
    <div [style.margin]="'5px'">
      <mat-checkbox color="primary" class="margin" [checked]="showTHT" (change)="changeTht()"> THT Bestückung </mat-checkbox>
      <mat-checkbox color="primary" class="margin" [checked]="showSMD" (change)="changeSmd()"> SMD  Suche </mat-checkbox>
      <mat-checkbox color="primary" class="margin" [checked]="reparatur" (change)="changeRep()"> Reparatur/Nachbearbeitung </mat-checkbox>
    </div>

    <mat-divider [style.margin.px]="5"></mat-divider>

		<form [style.margin.px]="10" #form="ngForm" *ngIf = reparatur class="column middle">
			<mat-form-field [style.width.px]="400">
				<input matInput placeholder="Platinennummer" [(ngModel)]="platine" name="Platinennummer" required>
				<mat-error *ngIf="platine === ''"> Platinennummer benötigt </mat-error>
			</mat-form-field>
			<mat-form-field [style.width.px]="400">
				<textarea matInput placeholder="Fehlerbeschreibung" [style.height.vh]="10" [(ngModel)]="comment" name="Comment" required></textarea>
				<mat-error *ngIf="comment===''"> Fehlerbeschreibung benötigt </mat-error>
			</mat-form-field>
			<button mat-raised-button
				(click)="moreInfo()"
				color="primary"
				[disabled]="platine===''||comment===''">
				Absenden
			</button>
    </form>

    <form [style.margin.px]="10" #form="ngForm" *ngIf ="showTHT||showSMD" class="column middle">
			<mat-form-field [style.width.px]="400">
				<input matInput placeholder="Platinennummer" [(ngModel)]="platine" name="Platinennummer" required>
				<mat-error *ngIf="platine === ''"> Platinennummer benötigt </mat-error>
      </mat-form-field>
			<button mat-raised-button type="button"
				(click)="moreInfo()"
				color="primary"
				[disabled]="platine===''||(!bestueckung)">
				Absenden
      </button>
      <mat-divider [style.margin.px]="5"></mat-divider>
      <mat-form-field [style.width.px]="400" [style.margin.px]="10">
        <input matInput placeholder="Designator" [(ngModel)]="searchedDes" name="Designator">
      </mat-form-field>
      <button mat-raised-button type="button"
              (click)="search(searchedDes)"
              color="primary"
              [disabled]="searchedDes===''||searchedDes===undefined">
        Suchen
      </button>
    </form>

	</mat-card>
	<!-- <mat-card *ngIf="showBoth" class="column middle">
		<div *ngIf="showTop">
			<mat-list  *ngFor="let item of outlineTop" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="showBot">
			<mat-list *ngFor="let item of outlineBot" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
	</mat-card>
	<mat-card *ngIf="showSMD" class="column middle">
		<div *ngIf="showTop">
			<mat-list *ngFor="let item of smdOutlineTop" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="showBot">
			<mat-list *ngFor="let item of smdOutlineBot" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
	</mat-card>
	<mat-card *ngIf="showTHT" class="column middle">
		<div *ngIf="showTop">
			<mat-list *ngFor="let item of thtOutlineTop" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
		<div *ngIf="showBot">
			<mat-list *ngFor="let item of thtOutlineBot" [style.float]="'left'">
				<mat-list-item><a (click)="navigateTo(item)"> {{ item.title }} </a></mat-list-item>
			</mat-list>
		</div>
	</mat-card>  -->


	<mat-card class="column right">
			<pdf-viewer [src]="pdfSrc"
						(after-load-complete)="afterLoadComplete($event)"
						(page-rendered)="pageRendered($event)"
						[external-link-target]="'blank'"
						[zoom]=zoom
						[render-text]="true"
						[show-all]="false"
						[page]="pageNr">
			</pdf-viewer>
	</mat-card>
</div>


