
* {
  box-sizing: border-box;
}

.column .mat-list-item {
  height: 20px;
}

.margin {
  margin: 10px;
}

.column {
  float: left;
  text-align: left;
}

.left {
  width: 15%;
}

.middle {
	width: 30%;
}

.upper {
  overflow: auto;
  overflow-y: scroll;
  height: 40vh;
}

.lower {
	overflow: auto;
  overflow-y: scroll;
	height: 30vh;
}

.right {
	width: 70%;
  overflow-x: scroll;
	height: 90vh;
}

.header {
  font-size: 17px;
  color: rgb(70, 58, 58);
  background-color: rgb(172, 240, 181);
}

.firstColumn {
	width: 30px;
}

.matchcode {
	font-size: 11px;
  word-break: keep-all;
  width: 35%;
}

.rightButton {
	float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
